# Archivos generados por Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Carpetas de compilación
bin/
obj/

# Archivos de compilación
*.exe
*.dll
*.pdb

# Archivos temporales y logs
*.log
*.tmp
*.bak
